
h5{
   
    color: rgba(121, 157, 138, 0.722);
}
svg{
    color:  rgba(121, 157, 138, 0.722);
}
div{
    border-radius: 2cm;

    border-color: rgba(121, 157, 138, 0.722);
}
label{
    color:  rgba(121, 157, 138, 0.722);
}
i{
    color: rgba(121, 157, 138, 0.722);}
.box1{
    width: 350px;
    height: 200px;
    background-color: rgba(121, 157, 138, 0.722);

    position: absolute;
   top: 420px;
   left: 20px;
   border-radius: 0px;
}
body{
    background-color: rgb(223, 241, 231);
}
.box2{
    width: 24em;
    height: 200px;
    background-color: white;

    position: absolute;
    font-size: 100%;
    top:  35px;
    left: 35px;
   
    border-radius: 0px;
    
}
.box3{
    width: 350px;
    height: 200px;
    background-color: rgba(121, 157, 138, 0.722);
    position: absolute;
   top: 420px;
   left: 520px;
   border-radius: 0px;

}
.box4{
    width: 24em;
    height: 200px;
    background-color:white;

    position: absolute;
    font-size: 100%;
    top:  35px;
    left: 35px;
    border-radius: 0px;
    
}
.box5{
    width: 350px;
    height: 200px;
    background-color:rgba(121, 157, 138, 0.722);

    position: absolute;
   top: 420px;
   left: 1020px;
    border-radius: 0;
   
   
}
.box6{
    width: 24em;
    height: 200px;
    background-color:white;

    position: absolute;
    font-size: 100%;
    top:  35px;
    left: 35px;  
    border-radius: 0px;
    
}
.container {
    display: flex;
  }
  
  .content {
    flex: 1;
    
  }
 div.h1
    {
        color:rgba(121, 157, 138, 0.722);
 }

 form{
    background-color: rgba(121, 157, 138, 0.722);
    border-radius: 0.3cm;
}
i{
    color:rgba(121, 157, 138, 0.722);
}
 
a{
    color:rgba(121, 157, 138, 0.722);

}