p {
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}
a:hover {
  color: rgba(205, 242, 104, 0.849);
}
a:active {
  color: rgb(236, 218, 197);
}
a:visited {
  color: rgb(16, 154, 91);
}
input {
  border-radius: 20px;
}
img {
  border-radius: 20px;
}

table tr td {
  padding: 6px;
  font-weight: bold;
  font-style: italic;
}
textarea {
  border-radius: 20px;
  padding: 7px;
}
table {
  background-color: rgb(163, 163, 229);
  border-radius: 20px;
}
